/* Global rules */

@import url("https://fonts.googleapis.com/css?family=Lato");

html {
    background-color: #557A95;
    color: whitesmoke;
    font-family: "Lato", "Arial", monospace;
    font-size: 0.95em;
    line-height: 1.5em;
}

::selection {
    color: whitesmoke; 
    background: #41B3A3;
}

h1 {
    font-weight: normal;
    margin: auto;
    background: #7395AE;
    line-height: 2.5em;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

/* Adds google font to H! for main pages*/
h1.page-header {
    font-family:'Lato', serif;
}

main.wrapper {
    background-color: #7395AE;
    overflow: auto;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

p {
    margin: 1em; /* Top Right Bottom Left (TRBL) */
}

h2,h3 {
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
}

a {
    color:#5D5C61;
    text-decoration: none;
}

a:hover {
    color: #5D5C61;
    background-color: #41B3A3;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

img {
    border-radius: 30px;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 40%;
        float: left;
        margin-right: 2vw;
        margin-left: 2vw;
        margin-top: 2vw;
    }
    
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 100%;
    }
    
}
